<div class="intro">
		
	<p>269 Font Icons that should suit your needs. Combination of Fonts from Genericons and Glyphicons. Built with SCSS so you can quickly drop into your project and go.</p>

</div>

<div class="icons">
	
	<div class="guide"></div>
	<ul class="icons-container"></ul>

</div>