<div class="intro">
		
	<h3>The Icons</h3>

	<p>Over 250 Font Icons that should suit your needs. Combination of Fonts from Genericons and Glyphicons. Built with SCSS so you can quickly drop into your project and go.</p>

	<p>Click on an icon below to get a better look and info on usage.</p>

</div>

<div class="icons">
	
	<div class="guide"></div>
	<ul class="icons-container"></ul>

</div>