// ---------- Colors

$black-01: #000;
$white-01: #fff;
$white-02: #f7f5f0;
$brown-01: #716e64;
$brown-02: #ebebe5;
$brown-03: #a7a69c;

// ---------- Fonts

$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;