%header {

	width: 100%;
	padding: 150px 0;

	h1 {

		font-size: 200px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -10px;

	}

	h3 {

		font-size: 35px;
		text-align: center;

	}

}