// ---------- Base styling for Template Layout

body {

	background: $white-02;
	color: $brown-01;
	font-family: $helvetica;

}

header {

	@extend %header;

}

section {

	width: 100%;
	padding: 150px 0;
	background: $brown-02;

}

article {

	max-width: 1200px;
	width: 90%;
	margin: 0 auto;

}

i {

	@extend %icon;
	font-size: 20px;
	margin-bottom: 10px

}

h2 {

	font-size: 20px;

}

pre {

	padding: 16px;
	overflow: auto;
	line-height: 1.45;
	background-color: $brown-01;
	color: $brown-02;
	border-radius: 3px;
	margin: 0 0 50px;

}

footer {

	@extend %footer;

}