@import "app/base/reset";
@import "app/base/core";
@import "app/layout/wrapper";

body {

	color: #222;

}

li {

	display: inline-block;
	width: 150px;
	font-size: 15px;
	text-align: center;

	a {

		display: block;
		width: 100%;
		height: 50px;
		padding: 25px 0;
		color: #444;
		background: #fff;
		text-decoration: none;

		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;

		&:hover {

			color: #fff;
			background: #3ea5ce;

		}

	}

}

i {

	@extend %icon;

	font-size: 20px;

}

@include generate-classes($properties);